#game_image {
    width: 100%;
    height: 100%;
}

body{
    cursor:url('../images/cursor.png'), auto; 
    background-color: #060612; 
}

.scores {
    color: white;
    width: 50%;
    margin: 20px auto;
    font-size: 1.5em;
}

.disabled{
    opacity: 0.5;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Pushster', cursive;
}

p {
    font-family: 'Space Mono', monospace;
}

#status {
    width: 20%; 
    margin: 0px auto;
    font-size: 24px;
    border-radius: 50px;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgba(0, 0, 0, 0.541);
}

.levels-btns{
    text-align: center;
    margin: 40px;
}

#user-modal{
    margin: 60px auto;
    width: 900px;
    background-color: white;
    text-align: center;
    padding: 40px 16px;
    border-radius: 50px;
    display: none;
}

#user-modal h1{
    font-size: 64px;
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
}  margin: 20px auto;

#user-modal p{
    font-size: 32px;
    margin: 20px;
}


#modal{
    margin: 60px auto;
    width: 400px;
    background-color: white;
    text-align: center;
    padding: 40px 16px;
    border-radius: 50px;
}



#modal h2 {
    font-size: 60px;
}
#modal p {
    font-size: 16px;
    padding: 20px;
}

.search-element{
    display: flex;
    justify-content: space-around;
    margin: 25px;
}

#modal img{
    width: 150px;
    height: 150px;
}

.root-div{
    position: relative;
    display: none;
    padding-top: 140px;
}


#nav{
    z-index: 1;
    position: fixed; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 36px;
    color:white;
    background-color: #0a1119;
    display: none; 
}

.drop-down{
    position: absolute;
    background-color: transparent;
}

.nav-image {
    width: 100px;
    height: 100px;
    margin: 0px 20px;
}

li{
    background-color: rgba(256, 256, 256, 0.8);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
}

li:hover{
    background-color: rgba(256, 256, 256, 1);
}

ul.navigation {
    background-color: white; 
}






.level-image img{
    width: 400px;
    height: 600px;
    border-radius: 40px;
    object-fit: cover; 
}

.level-image:hover{
    transform: scale(1.08)
}

.level-image{
    text-align: center;
    color: white;
    font-size: 36px;
}


.levels{
    margin-top: 100px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.btn{
    background-image: linear-gradient(to right, purple, red, orange);
    border-radius: 50px;
    border: 0px;
    color: white;
    font-size: 24px;
    padding: 10px;
    margin: 0px 20px;
}

.home-nav{
    background-color: #0a1119;
    padding: 20px 40px  ;
    display: flex;
    justify-content: space-between;
}

.home-nav h1{
    font-size: 60px;
    color: white;
}