#game_image {
    width: 100%;
}

body{
    cursor:url('../images/cursor.png'), auto; 
    background-color: #0e0c31; 
}


h1, h2, h3, h4, h5, h6{
    font-family: 'Caveat', cursive;
}

p {
    font-family: 'Space Mono', monospace;
}

#modal{
    position: absolute; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 10%;
    width: 600px;
    background-color: white;
    z-index: 1;
    text-align: center;
    padding: 40px 16px;
    border-radius: 50px;
}

#modal h2 {
    font-size: 60px;
}
#modal p {
    font-size: 16px;
    padding: 20px;
}

.start-button{
    padding: 0px 20px;
    border-radius: 20px;
    box-shadow: none;
    font-size: 24px;
    width: 200px;
}

.search-element{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px;
}

.search-element h2 {
    font-weight: 800;
    font-size: 24px;
}
.search-element h3 {
    font-weight: 700;
    font-size: 20px;
}
.search-element p {
    font-size: 16px;
    padding: 8px;
}


#modal img{
    width: 120px;
    height: 120px;
}

.root-div{
    position: relative;
    display: none;
}


#nav{
    text-align: center;
    justify-content: space-evenly; 
    align-items: center;
    padding: 20px;
    font-size: 36px;
    color:white;
    background-color: #0e0c31;
    display: none; 
}

.drop-down{
    position: absolute;
    background-color: transparent;
}

.nav-image {
    width: 100px;
    height: 100px;
}

li{
    background-color: rgba(256, 256, 256, 0.8);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
}

li:hover{
    background-color: rgba(256, 256, 256, 1);
}

ul.navigation {
    background-color: white; 
}