<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Pushster&family=Space+Mono&display=swap" rel="stylesheet">  

</head>
<body>

    <div id="modal">
        <h2>Where is Waldo</h4>
        <p>Find the Below Characters to win</p>
        {% for character in characters %}
        <div class="search-element">
            <img src="{{ url_for('static',filename='images/'+character['name']+'.png') }}" alt="">
            <div class="search-info">
                <h3>{{ character['difficulty'] }}</h3>
                <h2>{{ character['name'] }}</h2>
                <p>{{ character['source'] }}</p>
            </div>
        </div>
        {% endfor %}
        <button class="btn" onclick="startGame()"><p>Start</p></button>
    </div>


    <div id="user-modal">
        <h1>Congratulations</h1>
        <p>Enter your name</p>
        <input id="user-name" type="text">
        <button onclick="submitScore()">Submit</button>
    </div>


    <nav id="nav">
        <div id="images"></div>
        <div id="status"></div>
    </nav>
  
    
    <div class="root-div">
        <img id="game_image" src="{{ url_for('static',filename='images/level'+lvl +'.jpg') }}" alt="">
    </div>  


    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

    <script type="text/javascript">
        populate({{ characters|tojson }}, {{ lvl}});
    </script>
</body>
</html>