<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div class="root-div">
        <img id="game_image" src="{{ url_for('static',filename='images/level1.jpg') }}" alt="">
    </div>
  


    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>

<!-- <a target="_blank" href="https://icons8.com/icon/uwJWcwKI2gsy/cursor">Cursor</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->